<h1>New User</h1>

<%= form_for @user do |f| %>
  <p><%= f.label :name %></p>
  <p><%= f.text_field :name, required: true %></p>

  <p><%= f.label :email %></p>
  <p><%= f.text_field :email, required: true %></p>

  <%= link_to 'Cancel', users_path %>
  <%= f.submit "Create new user" %>
<% end %>